<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Jean-Michel Photographie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sketchy/bootstrap.min.css"/>
</head>
<body>
    <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="../Index.html">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="presentation.html"> A propos de moi <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="achat.html"> Mes Photographies</a>
            </li>
            </ul>
            </form>
        </div>
    </nav>
    </div>
    <div class="jumbotron">
        <h1 class="display-3">Jean-Michel Photographie</h1>
        <p class="lead"> « La photographie aide les gens à voir. » – Berenice Abbott</p>
        <p> Photographe depuis 15 ans, j'ai eu la chance de photographier les plus beaux endroits de cette planète ainsi que de fabuleuses personnes .
            J'aime faire découvrir le monde à travers ses moments figés pour l'éternité. J'ai la chance de voir le monde, et de le partager . Ainsi à  
            travers mes derniers voyages en Asie et Afrique j'ai été confronté à l'arrivée du terrible Covid-19. Je n'ai pu faire autrement que de capturer 
            ces instants. Ses regards et cette atmosphère si particulière tant bien remplis d'effroi que de courage. L'émotion est omniprésente dans ma 
            dernière collection . Mes modèles de simple passant prient sur le vif toujours si expressifs et bienveillant malgré le moment présent, la 
            diversité qu'ils représentent et, pourtant ces mêmes préoccupations voilà toutes les choses que j'ai voulu exprimer. <br>
            Merci à vous, Jean-Michel .
        </p>
        <div class=photo > <img src="../photos/Jean-Michel.webp" alt="Photo du photographe"> </div>
    </div>
</body>
</html>