<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Jean-Michel Photographie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sketchy/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bootstrap.min.css">
</head>
<body>
    <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="../Index.html">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="presentation.html"> A propos de moi <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="achat_ctrl.php"> Mes Photographies</a>
            </li>
            </ul>
            </form>
        </div>
    </nav>
    </div>
    <div class="jumbotron">
        <h1 class="display-3">Jean-Michel Photographie</h1>
        <p class="lead"> « La photographie aide les gens à voir. » – Berenice Abbott</p>
        <p> Photographe depuis 15 ans, j'ai eu la chance de photographier les plus beaux endroitss de cette planète ainsi que de fabuleuses personnes.
            J'aime faire découvrir le monde à travers ses moments figés pour l'éternité. J'ai la chance de voir le monde et de le partager. Ainsi, à  
            travers mes derniers voyages en Asie et Afrique, j'ai été confronté à l'arrivée du terrible Covid-19. Je n'ai pu faire autrement que de capturer 
            ces instants. Ses regards et cette atmosphère si particulière tant bien remplis d'effroi que de courage. L'émotion est omniprésente dans ma 
            dernière collection. Mes modèles, de simples passants pris sur le vif toujours si expressifs et bienveillant malgré le moment présent, la 
            diversité qu'ils représentent et pourtant ces mêmes préoccupations. Voilà toutes les choses que j'ai voulu exprimer. <br>
            Merci à vous, Jean-Michel.
        </p>
        <div class=photo > <img src="../photos/Jean-Michel.webp" alt="Photo du photographe"> </div>
    </div>
    <footer > 
        <div clas="col">
        <p> <h6>droits d'auteur </h6> 
            <br>Tous les textes et photos présents sur le site <a href="../Index.html">www.jean-michelphotographie.fr</a><br>, sauf
            indications contraire, sont la propriété exclusive de l'auteur . Soumis aux lois<br> sur le droits d'auteur, protégés par le code 
            de la proprité Intelectuelle (Art. L. 122-4).<br> Tous droitss réservés. ©2020 </p></div>
            <hr class="my-4">
            <div class="col">
        <p> <h6>Me contacter :</h6> <br> jmphotographie@contact.fr <br> 33 (0) 111 111 111<br> 1 rue de la perfection 57000 Metz </p>
        </div>
        <hr class="my-4">
        <div class="col"><p> <h6>Pensez à vous identifier</h6><a href="formulaire.html" >       Vous connecter ou vous inscrire</a> </p></div>
        </div>
        <hr class="my-4">
    </footer>
</body>
</html>